fastapi
uvicorn[standard]

pydantic
pydantic-settings

python-dotenv

httpx

beautifulsoup4
lxml

langchain

langchain-openai

langchain-text-splitters

qdrant-client

openai

loguru

apscheduler

pytest